@media (min-width: 500px) and (max-width: 800px) {

  .grid {
    display: flex;
    flex-direction: column;
    max-width: auto;

    &__item {
      flex-grow: 1;
    }
  }

  .container {
    width: auto;
}

  .shop-card {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    // background: green;

    &__pic {
      max-height: 40vw;
    }

    &__info {
      padding-top: 4rem;
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .button-bar {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 100%;
    border-top: 0;
    border-left: $border-primary;

    > * + * {
      border-top: $border-primary;
      border-left: 0;
    }
  }

  .dropdown {
    position: relative;

    &__list {
      display: flex;
      position: absolute;
      right: 100%;
      bottom: 50%;
      left: auto;
      display: none;
      flex-direction: row;
      transform: translateY(50%);

      > * + * {
        border-top: 0;
        border-left: $border-primary;
      }
    }

    &__button {
      padding: 0.5rem;
    }
  }
}
