// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';

$c-brand-primary: #3473b5;
$c-brand-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
$gutter: 1rem;
$max-content-width: 60rem;
$border-primary: medium $c-brand-primary solid;

@import 'mobile';
