// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';

$c-brand-primary: #3473b5;
$c-brand-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
$gutter: 1rem;
$max-content-width: 60rem;
$border-primary: medium $c-brand-primary solid;

@media (min-width: 500px) and (max-width: 800px) {

  .grid {
    display: flex;
    flex-direction: column;
    max-width: auto;

    &__item {
      flex-grow: 1;
    }
  }

.container {
  width: auto;
}

  .shop-card {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    // background: green;

    &__pic {
      max-height: 40vw;
    }

    &__info {
      padding-top: 4rem;
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .button-bar {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 100%;
    border-top: 0;
    border-left: $border-primary;

    > * + * {
      border-top: $border-primary;
      border-left: 0;
    }
  }

  .dropdown {
    position: relative;

    &__list {
      display: flex;
      position: absolute;
      right: 100%;
      bottom: 50%;
      left: auto;
      display: none;
      flex-direction: row;
      transform: translateY(50%);

      > * + * {
        border-top: 0;
        border-left: $border-primary;
      }
    }

    &__button {
      padding: 0.5rem;
    }
  }
}

// @media (max-width: 599px) {
//   .shop-card {
//     display: flex;
//     justify-content: center;
//
//   }
// }
